.login-user {
  border-radius: 10px;
  width: 700px;
  padding: 60px;
  position: relative;
}
.login-button {
  position: absolute;
  padding: 10px;
  width: 300px;
  left: 50%;
  margin-top: 30px;
  background-color: #33c2a3;
  border: none;
  text-align: center;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.login-button:hover {
  background-color: rgb(170, 165, 165);
  cursor: pointer;
}
.login1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin : 50px
}
