nav.primary-navigation {
  padding: 10px;
  padding-left: 50px;
  display: block;
  text-align: left;
  font-size: 23px;
  background-color: rgba(240, 232, 232, 0.493);
}
nav.primary-navigation ul li {
  list-style: none;
  margin: 0px 10px 0px 20px;
  display: inline-block;
  padding: 10px;
  position: relative;
  text-decoration: none;
}
nav.primary-navigation li a {
  color: rgb(58, 70, 68);
  font-family: "Satisfy", cursive;
}
nav.primary-navigation li a:hover {
  color: #33c2a3;
  text-decoration: none;
}
nav.primary-navigation li:hover {
  cursor: pointer;
}
nav.primary-navigation ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: rgba(255, 255, 255);
}
nav.primary-navigation ul li:hover > ul,
nav.primary-navigation ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}
nav.primary-navigation ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}
nav.primary-navigation ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #33c2a3;
  transition: all 0.3s ease;
}
a {
  text-decoration: none;
}
a:hover {
  color: #33c2a3;
}
ul li ul li a {
  transition: all 0.5s ease;
}
